[include mainsail.cfg]
#[include adxl.cfg]

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:       
    # Parameters
    #{% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    #M190 S{bedtemp}
    G28
    Z_TILT_ADJUST
    M109 S{hotendtemp}
	
	

# Stepper Configs
[stepper_x]
# connected to X Stepper on SPIDER
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
full_steps_per_rotation: 400
microsteps: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop 
position_endstop: 0
position_max: 180
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
# connected to X Stepper on SPIDER
uart_pin: PE7
run_current: .9
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: PB14
driver_SGTHRS: 130

[stepper_y]
# connected to Y Stepper on SPIDER
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
full_steps_per_rotation: 400
microsteps: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 180
position_max: 180
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
# connected to Y Stepper on SPIDER
uart_pin: PE15
run_current: .9
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: PB13 
driver_SGTHRS: 125

[stepper_z]
# connected to Z Stepper on SPIDER
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 40
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 180
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_z]
# connected to Z Stepper on SPIDER
uart_pin: PD10
run_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False


[stepper_z1]
# connected to E0 Stepper on SPIDER
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
endstop_pin: probe:z_virtual_endstop 

[tmc2209 stepper_z1]
# connected to E0 Stepper on SPIDER
uart_pin: PD7
run_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False


#------------------------------------------------------------------------------------
[stepper_z2]
# connected to E1 Stepper on SPIDER
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
rotation_distance: 40
microsteps: 32
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z2]
# connected to E1 Stepper on SPIDER
uart_pin: PC14
run_current: .5 
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False


# Extruder0
[extruder]
# connected to E4 Stepper on SPIDER
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 4.4765598
microsteps: 32
nozzle_diameter: 0.400
pressure_advance: 0.03
pressure_advance_smooth_time: 0.040
filament_diameter: 1.750	
# connected to Thermistor0 on SPIDER
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0
min_extrude_temp: 0
min_temp: 0
max_temp: 300
heater_pin: PB15
max_power: 1.0
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1500.0
max_extrude_cross_section: 20000.0

[tmc2209 extruder]
# connected to E4 Stepper on SPIDER
uart_pin: PC15
run_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
# connected to Heater0 on SPIDER


# Fans  
# Hotend Cooling Fan
[heater_fan my_nozzle_fan]
# connected to Fan0 on SPIDER - 12v Fan
pin: PA13
max_power: 1.0
#kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
 
# print cooling fan
[fan]
# connected to Fan1 on SPIDER - 12v Fan
pin: PB2 #PC8
max_power: 1.0
kick_start_time: 0.500

[bltouch]
sensor_pin: ^PA0
control_pin: PA2
x_offset: -20
y_offset:  5
z_offset: 1.2
probe_with_touch_mode: true
stow_on_each_sample: false

[z_tilt]
horizontal_move_z: 5
z_positions:
    -40, -2
    90, 250
    220, -2
points:
    40, 30
    110, 170
    180, 30
speed: 150
horizontal_move_z: 5
retries: 7
retry_tolerance: 0.015

[safe_z_home]
home_xy_position: 90, 90 # Change coordinates to the center of your print bed
speed: 50
z_hop: 0                 # Move up 10mm
z_hop_speed: 5


# MCU SPIDER
[mcu] 
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2D0030001951303439363932-if00
restart_method: command

# EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC9, EXP1_2=PA8,
    EXP1_3=PC11, EXP1_4=PD2,
    EXP1_5=PC10, EXP1_6=PC12,    # Slot in the socket on this side
    EXP1_7=PD0, EXP1_8=PD1,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PC6, EXP2_4=PA4,
    EXP2_5=PC7, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PB10, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>



#Gcode G2/G3 Arc Support
[gcode_arcs]
resolution: 0.1

#Printer Speeds and Accels
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 10000 # change this to 7500 after commissioning
max_z_velocity: 15   # may be able to increase to 15 after comissioning.
max_z_accel: 50
square_corner_velocity: 4 # start at 8, but then increase once you're sure assembly is sound


# Motor and Heater Idle Timeout
[idle_timeout]
timeout: 6000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.086
#*# pid_ki = 1.673
#*# pid_kd = 66.420
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 78.0
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 65.6
